#chezmoi if windows {{- if eq .chezmoi.os "windows" }}
[CmdletBinding(SupportsShouldProcess, ConfirmImpact = 'Medium')]
param()


$ErrorActionPreference = 'Stop'
Set-StrictMode -Version Latest

$scoopAliasToSync = @(
    @{
        Name = 'finfo'
        Command = 'sfsu.exe info @args'
        Summary = 'Fast info with sfsu.exe'
    }
    @{
        Name = 'fsearch'
        Command = 'sfsu.exe search @args'
        Summary = 'Fast search with sfsu.exe'
    }
    @{
        Name = 'upsts'
        # `sfsu update` causes unsupportable churn in the `config`
        # https://github.com/winpax/sfsu/issues/1123
        Command = @'
scoop update --quiet 2>$null 6>$null
if ($LASTEXITCODE -gt 0) {
    Write-Error "scoop update has exit code of $LASTEXITCODE"
}
(sfsu.exe status --json 2>$null | ConvertFrom-Json ).packages |
    & {
        process {
            if ( $_.current -ne $_.available ) {
                $_.pstypenames.Insert(0, 'Profile.ScoopSfsuPackagesStatus')
                $_
            }
        }
    }
'@
        Summary = 'Update scoop fast and check status'
    }
    @{
        Name = 'fls'
        Command = @'
if ($null -eq $args[0]) {
    $args += '.*'
}
( sfsu.exe search --installed --json @args | ConvertFrom-Json ).psobject.Properties.Value |
    Select-Object @{Name = 'Name'; Expression = {$_.name}},
        @{Name = 'Version'; Expression={$_.version}},
        @{Name = 'Source'; Expression = {$_.bucket}}
'@
        Summary = 'Fast list using sfsu search. sfsu list is deprecated. No args defaults to .*'
    }
)

try {
    Get-Command -Name scoop | Out-Null
}
catch {
    Write-Error -ErrorRecord $_
    return
}
$scoopAliasCurrent = scoop alias list --verbose 6>$null
if ($LASTEXITCODE -gt 0) {
    throw [InvalidOperationException]'Failed to get current aliases'
}
if ($null -eq $scoopAliasCurrent) {
    if ($PSCmdlet.ShouldProcess('scoop alias', 'Adding all aliases for new install')) {
        foreach ($currentAliasToSync in $scoopAliasToSync) {
            scoop alias add $currentAliasToSync.Name $currentAliasToSync.Command $currentAliasToSync.Summary
            if ($LASTEXITCODE -gt 0) {
                throw [InvalidOperationException]"Failed to add alias $($currentAliasToSync.Name)"
            }
        }
    }
}
else {
    foreach ($currentAliasToSync in $scoopAliasToSync) {
        if ($currentAliasToSync.Name -notin $scoopAliasCurrent.Name) {
            if ($PSCmdlet.ShouldProcess('scoop alias', "New alias, $($currentAliasToSync.Name), to add.")) {
                scoop alias add $currentAliasToSync.Name $currentAliasToSync.Command $currentAliasToSync.Summary
            }
        }
        else {
            $currentAliasData = $scoopAliasCurrent | Where-Object -Property Name -EQ -Value $currentAliasToSync.Name
            if ($currentAliasToSync.Command -ne $currentAliasData.Command -or $currentAliasToSync.Summary -ne $currentAliasData.Summary) {
                if ($PSCmdlet.ShouldProcess('scoop alias', "Removing and adding $($currentAliasToSync.Name) as they have a different command or summary")) {
                    scoop alias rm $currentAliasToSync.Name 6>$null
                    if ($LASTEXITCODE -gt 0) {
                        throw [InvalidOperationException]"Failed to remove current alias $($currentAliasToSync.Name)"
                    }
                    scoop alias add $currentAliasToSync.Name $currentAliasToSync.Command $currentAliasToSync.Summary
                    if ($LASTEXITCODE -gt 0) {
                        throw [InvalidOperationException]"Failed to add current alias $($currentAliasToSync.Name)"
                    }
                }
            }
        }
    }
}

foreach ($currentAlias in $scoopAliasCurrent) {
    if ($currentAlias.Name -notin $scoopAliasToSync.Name) {
        if ($PSCmdlet.ShouldProcess('scoop alias', "Alias $($currentAlias.Name) doesn't exist on sync data. Removing.")) {
            Write-Verbose "Attempting to remove $($currentAlias.Name) as it isn't in the sync data."
            scoop alias rm $currentAlias.Name 6>$null
            if ($LASTEXITCODE -gt 0) {
                throw [InvalidOperationException]"Failed to remove alias $($currentAliasToSync.Name) not in the chezmoi sync data."
            }
        }
    }
}
# chezmoi windows end {{- end }}
