LICENSE
README.md
MyProfileLib
chezmoi.slnx
outchezmoiscripts
glyphnames.json
{{- if ne .chezmoi.os "windows" }}
.config/powershell/MyProfile/desktop.psm1
.config/powershell/MyProfile/lib/desktop
Documents/PowerShell
Documents/WindowsPowerShell
{{- else }}
.config/powershell/profile.ps1
{{- end }}
