LICENSE
README.md
MyProfileLib
chezmoi.slnx
outchezmoiscripts
glyphnames.json
{{- if ne .chezmoi.os "windows" }}
AppData
.config/powershell/MyProfile/desktop.psm1
.config/powershell/MyProfile/lib/desktop
Documents
{{- else }}
.config/alacritty
.config/nushell
.config/nvim
.config/powershell/profile.ps1
.config/zellij
{{- end }}
