[cd]
  command = "pwsh"
  args = ["-NoLogo", "-NoProfile"]
[diff]
  pager = "delta"
[interpreters.ps1]
  command = "pwsh"
  args = ["-NoLogo", "-NoProfile"]
[data]
  msSqlMgmtInstance = {{ promptString "What is the SQL Server Instance hosting the Central Management Server" "" | quote }}
  vCenterComputerName = {{ promptString "What is the primary vCenter Computer Name" "" | quote }}
  workKeepassName = {{ promptString "What is the name of the employer KeePass" "" | quote }}
