{{- $argCompleterArgList := list "-NoProfile" "-NoLogo" "-File" (joinPath .sourceDir ".chezmoitemplates" "tools" "Write-FileSystemInfoColorAnsiEsc.ps1" ) -}}
{{- outputList "pwsh" $argCompleterArgList -}}
