{{- /* 7 day refresh cycle */ -}}
{{- $argCompleterArgList := list "-NoProfile" "-NoLogo" "-File" (joinPath .sourceDir ".chezmoitemplates" "tools" "Write-FileSystemInfoIconGlyph.ps1" ) "-RefreshSeconds" "604800" -}}
{{- outputList "pwsh" $argCompleterArgList -}}
