#Requires -Version 5.1

#region Using Namespace For Quick Interactive Usage
{{ includeTemplate "usingnm.ps1" . }}
#endregion

#region Environment Variables
{{ includeTemplate "env.ps1" . }}
#endregion

#region Prompt
{{ includeTemplate "prompt.ps1" . }}
#endregion

#region Modules and Icons
{{ includeTemplate "module.ps1" . }}
#endegion

#region PSDefaultParameterValues
{{ includeTemplate "defaultparams.ps1.tmpl" . }}
#endregion

#region ArgumentCompleter Generated
# chezmoi outputList args {{ $argCompleterArgList := list "-NoProfile" "-NoLogo" "-File" (joinPath .chezmoi.sourceDir ".chezmoitemplates" "Write-ArgCompleterOutput.ps1" ) }}
{{ outputList "pwsh" $argCompleterArgList }}
#endregion
#region argcompleter.ps1
{{ includeTemplate "argcompleter.ps1" . }}
#endregion

#region Alias
{{ includeTemplate "alias.ps1" . }}
#endregion

#region ReadLine
{{ includeTemplate "readline.ps1" . }}
#endregion

#region Custom Types and Format
{{ includeTemplate "typesandformat.ps1" . }}
#endregion
