{{- define "newAliasTmpl" -}}{{- printf "${Alias:%s} = %s" ( .name ) ( .value | squote ) -}}{{- end -}}
#region All Aliases
{{ range $aliasKey, $aliasValue := .pwshAlias.all -}}
{{- template "newAliasTmpl" (dict "name" $aliasKey "value" $aliasValue ) }}
{{ end -}}
#endregion
#region PSEdition Core Aliases
{{ if eq .isPSCore true -}}
{{- range $aliasCoreKey, $aliasCoreValue := .pwshAlias.core -}}
{{- template "newAliasTmpl" (dict "name" $aliasCoreKey "value" $aliasCoreValue ) }}
{{ end -}}
{{- end }}
#endregion
#region PSEdition Desktop Aliases
{{ if eq .isPSCore false -}}
{{- range $aliasDeskKey, $aliasDeskValue := .pwshAlias.desktop -}}
{{- template "newAliasTmpl" (dict "name" $aliasDeskKey "value" $aliasDeskValue ) }}
{{ end -}}
{{- end }}
#endregion
#region Windows "aliases"
{{ if eq .isWindows true -}}
{{- $prg86 := env "ProgramFiles(x86)" -}}
{{- $prgFiles := env "ProgramFiles" -}}
{{- range $aliasWinKey, $aliasWinValue := .pwshAlias.windows -}}
{{- template "newAliasTmpl" (dict "name" $aliasWinKey "value" $aliasWinValue ) }}
{{ end -}}
{{- $ssmsBasePath := joinPath "Common7" "IDE" "Ssms.exe" -}}
{{- $ssmsPrg86Path := joinPath ( glob ( joinPath $prg86 "Microsoft SQL Server Management Studio *" ) | sortAlpha | last ) $ssmsBasePath -}}
{{- $ssmsPrgPath := joinPath ( glob ( joinPath $prgFiles "Microsoft SQL Server Management Studio *" ) | sortAlpha | last ) "Release" $ssmsBasePath -}}
{{- $ssmsPath := "" -}}
{{- if lookPath $ssmsPrgPath -}}
{{- $ssmsPath = $ssmsPrgPath -}}
{{- else if lookPath $ssmsPrg86Path -}}
{{- $ssmsPath = $ssmsPrg86Path -}}
{{- end -}}
{{- if ne $ssmsPath "" -}}
{{- template "newAliasTmpl" (dict "name" "ssms" "value" $ssmsPath ) }}
{{ end -}}
{{- $nppPath := joinPath $prgFiles "Notepad++" "notepad++.exe" -}}
{{- if lookPath $nppPath -}}
{{- template "newAliasTmpl" (dict "name" "npp" "value" $nppPath ) }}
{{ end }}
{{- $ostressPath := joinPath $prgFiles "Microsoft Corporation" "RMLUtils" "ostress.exe" -}}
{{- if lookPath $ostressPath -}}
{{- template "newAliasTmpl" (dict "name" "ostress" "value" $ostressPath ) }}
{{ end -}}
{{- $vsPrefix := joinPath $prgFiles "Microsoft Visual Studio" "2022" "Community" -}}
{{- if lstat $vsPrefix -}}
{{- $vsIDE := joinPath $vsPrefix "Common7" "IDE" -}}
{{- $vsMsBldBin := joinPath $vsPrefix "MSBuild" "Current" "Bin" -}}
{{- $devenvPath := joinPath $vsIDE "devenv.exe" -}}
{{- if lookPath $devenvPath -}}
{{- template "newAliasTmpl" (dict "name" "devenv" "value" $devenvPath ) }}
{{ end -}}
{{- $tfPath := joinPath $vsIDE "CommonExtensions" "Microsoft" "TeamFoundation" "Team Explorer" "tf.exe" -}}
{{- if lookPath $tfPath -}}
{{- template "newAliasTmpl" (dict "name" "tf" "value" $tfPath ) }}
{{ end -}}
{{- $sqlpackagePath := joinPath $vsIDE "Extensions" "Microsoft" "SQLDB" "DAC" "SqlPackage.exe" -}}
{{- if lookPath $sqlpackagePath -}}
{{- template "newAliasTmpl" (dict "name" "sqlpackage" "value" $sqlpackagePath ) }}
{{ end -}}
{{- $csiPath := joinPath $vsMsBldBin "Roslyn" "csi.exe" -}}
{{- if lookPath $csiPath -}}
{{- template "newAliasTmpl" (dict "name" "csi" "value" $csiPath ) }}
{{ end -}}
{{- $cscPath := joinPath $vsMsBldBin "Roslyn" "csc.exe" -}}
{{- if lookPath $cscPath -}}
{{- template "newAliasTmpl" (dict "name" "csc" "value" $cscPath ) }}
{{ end -}}
{{- $msbuildPath := joinPath $vsMsBldBin "MsBuild.exe" -}}
{{- if lookPath $msbuildPath -}}
{{- template "newAliasTmpl" (dict "name" "msbuild" "value" $msbuildPath ) }}
{{ end -}}
{{- end -}}

{{ $vpncliAnyPath := joinPath $prg86 "Cisco" "Cisco AnyConnect Secure Mobility Client" "vpncli.exe" -}}
{{ $vpncliSecPath := joinPath $prg86 "Cisco" "Cisco Secure Client" "vpncli.exe" -}}
{{- $vpncliPath := "" -}}
{{- if lookPath $vpncliSecPath -}}
{{- $vpncliPath = $vpncliSecPath -}}
{{- else if lookPath $vpncliAnyPath -}}
{{- $vpncliPath = $vpncliAnyPath -}}
{{- end -}}
{{- if ne $vpncliPath "" -}}
{{- template "newAliasTmpl" (dict "name" "vpncli" "value" $vpncliPath ) }}
{{ end -}}
{{- $kerbConfigPath := joinPath $prgFiles "Microsoft" "Kerberos Configuration Manager for SQL Server" "KerberosConfigMgr.exe" -}}
{{- if lookPath $kerbConfigPath -}}
{{- template "newAliasTmpl" (dict "name" "kerberosconfigmgr" "value" $kerbConfigPath ) }}
{{ end -}}

{{- if lookPath ( joinPath ( env "USERPROFILE" ) "scoop" "apps" "gsudo" "current" "gsudo.exe" ) -}}
{{- $senOnePath := joinPath ( glob ( joinPath $prgFiles "SentinelOne" "Sentinel Agent *" ) | sortAlpha | last ) "SentinelCtl.exe" }}
{{- if lookPath $senOnePath -}}
{{- printf "function sentinelctl { invoke-gsudo -ScriptBlock { & %s @args } -ArgumentList $args }" ( $senOnePath | squote ) }}
{{ end -}}
{{- $spcSnifPath := "SpaceSniffer.exe" -}}
# `invoke-gsudo` usage causes console to hang while `spacesniffer.exe` is open. `help` needs special handling to bypass shim.
{{- if lookPath $spcSnifPath }}
{{ printf "function spacesniffer { if ($args -contains 'help') { & (scoop which spacesniffer.exe) help } else { gsudo { & %s @args } -args $args } }" ( output "pwsh" "-NoLogo" "-NoProfile" "-Command" "scoop" "which" $spcSnifPath | trim | squote ) }}
{{ end -}}
{{- end -}}
#endregion windows {{- end }}
# scoop aliases
# scoop alias add fsearch 'scoop-search.exe $args[0]' 'Fast search with scoop-search.exe'
# scoop alias add describe 'sfsu.exe describe $args[0]' 'Fast info with sfsu.exe'
