$cmsSqlInstance = {{ .msSqlMgmtInstance | squote }} 
$vCenterComputerName = {{ .vCenterComputerName | squote }}
$workKeepassName = {{ .workKeepassName | squote }}
$credAdmSbk = { Get-Secret -Name da -Vault dp } 
$credSspAdmSbk = { if ($args.BoundParameters -contains 'Authentication') { Get-Secret -Name da -Vault dp } }

$companyProp = [string[]]@()
if ($Env:OneDriveCommercial) {
  $companyProp = [string[]]@(
    'extensionAttribute2'
    'extensionAttribute4'
    'extensionAttribute11'
    'extensionAttribute12'
    'EmployeeID'
  )
}
$PSDefaultParameterValues = @{
    'Get-ADUserProxy:Properties' = [string[]]@(
      'Description'
      'DisplayName'
      'LockedOut'
      'PasswordExpired'
      'Office' # physicalDeliveryOfficeName
      'Surname'
      'Title'
      'msDS-AllowedToDelegateTo'
      'whenCreated'
      'whenChanged'
      $companyProp
    )
    'Get-ADGroupProxy:Properties' = [string[]]@(
      'Description'
      'DisplayName'
      'whenCreated'
      'whenChanged'
    )
    'Search-Giphy:ApiKey' = { Get-Secret -Name giphy -Vault dp }
    'Invoke-DbaWhoIsActive:FormatOutput' = 2 # Not perfect. This does line up the output better. Using 0 removes the default first column for time spent.
    'Invoke-Mstsc:Credential' = $credAdmSbk
    'Invoke-Command:Credential' = $credSspAdmSbk
    'Enter-PSSession:Credential' = $credSspAdmSbk
    'New-PSSession:Credential' = $credSspAdmSbk
    'Out-Default:OutVariable' = '__' # "All" output is written to $__ to make it easier to work interactively like if a user forgets to assign the output.
    'Format-Table:AutoSize' = $true
    'Format-Table:Wrap' = $true
}

if ($cmsSqlInstance) {
  $PSDefaultParameterValues['Get-DbaRegServer:SqlInstance'] = $cmsSqlInstance
}
if ($vCenterComputerName) {
  $PSDefaultParameterValues['Connect-VIServer:Server'] = $vCenterComputerName 
}
if ($workKeepassName) {
  $PSDefaultParameterValues['Unlock-SecretVault:Name'] = $workKeepassName 
  $PSDefaultParameterValues['Unlock-SecretVault:Password'] = { Get-Secret -Name dbakey -Vault dp }
}

Remove-Variable -Name @(
  'credAdmSbk'
  'credSspAdmSbk'
  'cmsSqlInstance'
  'companyProp'
  'vCenterComputerName'
  'workKeepassName'
)
