{{- $credAdmSbk := "{ Get-Secret -Name da -Vault dp }" -}}
{{- $credSspAdmSbk := "{ if ($args.BoundParameters -contains 'Authentication') { Get-Secret -Name da -Vault dp } }" -}}
$PSDefaultParameterValues = @{
  'Get-ADUserProxy:Properties' = [string[]]@(
    'Description'
    'DisplayName'
    'LockedOut'
    'PasswordExpired'
    'Office' # physicalDeliveryOfficeName
    'Surname'
    'Title'
    'msDS-AllowedToDelegateTo'
    'whenCreated'
    'whenChanged'
{{- if ne .workOneDriveBusinessName "" -}}
{{- $companyProp := list "extensionAttribute2" "extensionAttribute4" "extensionAttribute11" "extensionAttribute12" "EmployeeID" -}}
{{- range $currentCompProp := $companyProp -}}
{{- $currentCompProp | squote | nindent 4 }}
{{- end -}}
{{- end }}
  )
  'Get-ADGroupProxy:Properties' = [string[]]@(
    'Description'
    'DisplayName'
    'whenCreated'
    'whenChanged'
  )
  'Search-Giphy:ApiKey' = { Get-Secret -Name giphy -Vault dp }
{{- /* Not perfect. This does line up the output better. Using 0 removes the default first column for time spent. */}}
  'Invoke-DbaWhoIsActive:FormatOutput' = 2
  'Invoke-Mstsc:Credential' = {{ $credAdmSbk }}
  'Invoke-Command:Credential' = {{ $credSspAdmSbk }}
  'Enter-PSSession:Credential' = {{ $credSspAdmSbk }}
  'New-PSSession:Credential' = {{ $credSspAdmSbk }}
{{- /* "All" output is written to $__ to make it easier to work interactively like if a user forgets to assign the output. */}}
  'Out-Default:OutVariable' = '__'
  'Format-Table:AutoSize' = $true
  'Format-Table:Wrap' = $true
{{- if ne .msSqlMgmtInstance "" }}
  'Get-DbaRegServer:SqlInstance' = {{ .msSqlMgmtInstance | squote }}
{{- end }}
{{- if ne .vCenterComputerName "" }}
  'Connect-VIServer:Server' = {{ .vCenterComputerName | squote }} 
{{- end }}
{{- if ne .workKeepassName "" }}
  'Unlock-SecretVault:Name' = {{ .workKeepassName | squote }}
  'Unlock-SecretVault:Password' = { Get-Secret -Name dbakey -Vault dp }
{{- end }}
}
