# isPSCore setting {{- $isPSCore := eq "profile.ps1.tmpl" ( base .chezmoi.sourceFile ) }}
# dict downstream templates {{- $tmplDict := dict "isPSCore" $isPSCore "isWindows" ( eq .chezmoi.os "windows" ) "sourceDir" .chezmoi.sourceDir "destDir" .chezmoi.destDir "pwshAlias" .pwshAlias }}
# isPSCore if Requires {{- if eq $isPSCore true }}
#Requires -Version 7.5
# else Requires {{- else -}}{{- nindent 0 "#Requires -Version 5.1" -}}{{- end }}

#region Using Namespace For Quick Interactive Usage {{- println }}{{ includeTemplate "usingnm.ps1" . }}
#endregion

#region Environment Variables {{- println }}{{ includeTemplate "env.ps1.tmpl" . }}
#endregion

#region Prompt {{- println }}{{ includeTemplate "prompt.ps1.tmpl" $tmplDict }}
#endregion

# Helper Visual Studio Code Command Palette operations ( i.e. EditorServicesCommandSuite )
if($env:TERM_PROGRAM -eq 'vscode' -and $Host.Name -eq 'Visual Studio Code Host') {
    Import-CommandSuite
}
#endegion

#region isPSCore if CoreCLR related {{- if eq $isPSCore true }}
# Prefer core's implementation of join and have a proxied command
[Diagnostics.CodeAnalysis.SuppressMessageAttribute("PSUseDeclaredVarsMoreThanAssignments","StringModule_DontInjectJoinString",Justification="Variable required in session for future implicit string module load.")]
$StringModule_DontInjectJoinString = $true
#endregion {{- end }}

#region PSDefaultParameterValues {{- println }}{{ includeTemplate "defaultparams.ps1.tmpl" . }}
#endregion

#region Alias {{- println }}{{ includeTemplate "alias.ps1.tmpl" $tmplDict }}
#endregion

#region ReadLine {{- println }}{{ includeTemplate "readlineoption.ps1.tmpl" . }}
#endregion

#region Custom Types and Format
Update-FormatData -PrependPath ( [System.IO.Path]::Combine( $HOME, '.config', 'powershell', 'profile.format.ps1xml' ) )
#endregion

