{{- $isPSCore := eq "profile.ps1.tmpl" ( base .chezmoi.sourceFile ) -}}
{{- $isWindows := eq .chezmoi.os "windows" }}
{{- $tmplDict := dict "isPSCore" $isPSCore
    "isWindows" $isWindows
    "sourceDir" .chezmoi.sourceDir
    "destDir" .chezmoi.destDir
    "homeDir" .chezmoi.homeDir
    "pathListSeparator" .chezmoi.pathListSeparator
    "pwshAlias" .pwshAlias
-}}
{{- if eq $isPSCore true -}}
#Requires -Version 7.5
{{ else -}}
#Requires -Version 5.1
{{ end -}}

#region Using Namespace For Quick Interactive Usage
{{ includeTemplate "usingnm.ps1" . -}}
#endregion

{{/* Helps work with `less` output. Could impact native command impact with cmdlets */ -}}
$OutputEncoding = [System.Console]::InputEncoding = [System.Console]::OutputEncoding = [System.Text.UTF8Encoding]::new()

#region Environment Variables
{{ includeTemplate "env.ps1.tmpl" $tmplDict -}}
#endregion

#region Helper Visual Studio Code Command Palette operations ( i.e. EditorServicesCommandSuite )
if($env:TERM_PROGRAM -eq 'vscode' -and $Host.Name -eq 'Visual Studio Code Host') {
    Import-CommandSuite
}
#endegion

#region isPSCore
{{ if eq $isPSCore true -}}
{{- /* Prefer core's implementation of join and have a proxied command */ -}}
[Diagnostics.CodeAnalysis.SuppressMessageAttribute(
    "PSUseDeclaredVarsMoreThanAssignments",
    "StringModule_DontInjectJoinString",
    Justification="Variable required in session for future implicit string module load."
)]
$StringModule_DontInjectJoinString = $true
{{- end }}
#endregion

#region PSDefaultParameterValues
{{ includeTemplate "defaultparams.ps1.tmpl" . -}}
#endregion

#region Alias
{{ includeTemplate "alias.ps1.tmpl" $tmplDict -}}
#endregion

#region Interative
{{ includeTemplate "interactive.ps1.tmpl" $tmplDict -}}
#endregion

#region Custom Types and Format
Update-FormatData -PrependPath '{{- joinPath .chezmoi.homeDir ".config" "powershell" "profile.format.ps1xml" -}}'
#endregion
