# Custom OMP Prompt Context
function Set-MyOmpContext {
    [Alias('Set-PoshContext')]
    param([bool]$originalStatus)
    # Helper for relative pathing on dotnet methods. They use the process level path. 
    [System.Environment]::CurrentDirectory = (Get-Location -PSProvider FileSystem).ProviderPath
}

oh-my-posh @(
    'init'
    'pwsh'
    '--config'
    {{ joinPath .homeDir ".config" "oh-my-posh" "night-owl_mac.omp.json" | squote }}
) | Invoke-Expression
