{{- $argList := list "-NoProfile" "-NoLogo" "-File" (joinPath .sourceDir ".chezmoitemplates" "tools" "Write-PSReadLinePredictionJson.ps1" ) -}}
{{- $psrlPrediction := outputList "pwsh" $argList | fromJson -}}
{{- if eq .isPSCore true -}}
{{- if $psrlPrediction.CorePredictionSource -}}
Set-PSReadLineOption -PredictionSource {{ $psrlPrediction.CorePredictionSource | squote }} {{ if $psrlPrediction.CoreHasColorsInlinePrediction }} -Colors @{
    InlinePrediction = {{ "\u001B[38;5;243m" | squote }}
    {{- if $psrlPrediction.CoreHasColorsListPrediction }}
    ListPrediction = {{ "\u001B[38;2;195;100;241m" | squote }}
    ListPredictionToolTip = {{ "\u001B[38;5;243m\u001B[3m" | squote }}
    {{- end }}
}
{{ end -}}
{{- end -}}
{{- else -}}
{{- if $psrlPrediction.DesktopPredictionSource -}}
Set-PSReadLineOption -PredictionSource {{ $psrlPrediction.DesktopPredictionSource | squote }} {{ if $psrlPrediction.DesktopHasColorsInlinePrediction }} -Colors @{
    InlinePrediction = {{ "\u001B[38;5;243m" | squote }}
    {{- if $psrlPrediction.DesktopHasColorsListPrediction }}
    ListPrediction = {{ "\u001B[38;2;195;100;241m" | squote }}
    ListPredictionToolTip = {{ "\u001B[38;5;243m\u001B[3m" | squote }}
    {{ end -}}
}
{{ end -}}
{{- end -}}
{{- end -}}
