{{- $argList := list "-NoProfile" "-NoLogo" "-File" (joinPath .sourceDir ".chezmoitemplates" "tools" "Write-PSReadLinePredictionJson.ps1" ) -}}
{{- $psrlPrediction := outputList "pwsh" $argList | fromJson -}}
{{- $predictionSource := "" -}}
{{- $hasColorsInlinePrediction := false }}
{{- $hasColorsListPrediction := false }}
{{- if .isPSCore -}}
{{- $predictionSource = $psrlPrediction.CorePredictionSource -}}
{{- $hasColorsInlinePrediction = $psrlPrediction.CoreHasColorsInlinePrediction -}}
{{- $hasColorsListPrediction = $psrlPrediction.CoreHasColorsListPrediction -}}
{{- else -}}
{{- $predictionSource = $psrlPrediction.DesktopPredictionSource -}}
{{- $hasColorsInlinePrediction = $psrlPrediction.DesktopHasColorsInlinePrediction -}}
{{- $hasColorsListPrediction = $psrlPrediction.DesktopHasColorsListPrediction -}}
{{- end -}}
{{- /*
     * HistorySavePath: Microsoft Defender complains about history on Onedrive
     * AddToHistoryHandler: By default PSReadline removes "password", "cred", etc items from history. This forces save of all commands to history.
     */ -}}
Set-PSReadLineOption {{- if $predictionSource }} -PredictionSource {{ $predictionSource | squote -}}{{- end }} -BellStyle None -EditMode Vi -ViModeIndicator Script -HistorySavePath "{{ joinPath .homeDir ".config" "PSReadLine" "All$($Host.Name)_history.txt" | replace `"` `""` }}" -MaximumHistoryCount 500000 -HistoryNoDuplicates -AddToHistoryHandler {
    param([string]$line)
{{- /* Do not save any command line unless it has more than 4 characters.  Prevents storing gci, gps, etc. */}}
    return $line.Length -gt 4
} -Colors @{
{{- if $hasColorsInlinePrediction }}
    InlinePrediction      = '{{ "\u001B[38;5;243m" }}'
{{- end }}
{{- if $hasColorsListPrediction }}
    ListPrediction        = '{{ "\u001B[38;2;195;100;241m" }}'
    ListPredictionToolTip = '{{ "\u001B[38;5;243m\u001B[3m" }}'
{{- end }}
    Member                = '{{- "\u001B[38;2;228;228;228m" -}}'                                            #e4e4e4
    Parameter             = '{{- "\u001B[38;2;228;228;228m" -}}'                                            #e4e4e4
    Default               = '{{- "\u001B[38;2;228;228;228m" -}}'                                            #e4e4e4
    Operator              = '{{- "\u001B[38;2;197;197;197m" -}}'                                            #c5c5c5
    Keyword               = '{{- "\u001B[38;2;197;134;192m" -}}'                                            #c586c0
    Command               = '{{- "\u001B[38;2;220;220;125m" -}}'                                            #dcdc7d
    Emphasis              = '{{- "\u001B[27m\u001B[4m\u001B[48;2;40;40;40m\u001B[48;2;38;79;120m" -}}'      #264f78 With underline and background
    Selection             = '{{- "\u001B[7m" -}}'                                                             #Swap foreground and background colors for `carapace` completers
    Type                  = '{{- "\u001B[38;2;78;201;176m" -}}'                                             #4ec9b0
    Variable              = '{{- "\u001B[38;2;124;220;254m" -}}'                                            #7cdcfe
    String                = '{{- "\u001B[38;2;206;145;120m" -}}'                                            #ce9178
    Comment               = '{{- "\u001B[38;2;96;139;78m" -}}'                                              #608b4e
    Number                = '{{- "\u001B[38;2;147;206;168m" -}}'                                            #93cea8
    Error                 = '{{- "\u001B[38;2;139;0;0m" -}}'                                                #8b0000
} -ViModeChangeHandler {
    param([Microsoft.PowerShell.ViMode]$mode)
{{- /* https://learn.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences#cursor-shape */}}
    if ( $mode -eq 'Command' ) {
{{- /* Steady block cursor shape */}}
        [Console]::Write("$([char]0x1B)[2 q")
    }
    else {
{{- /* Steady bar cursor shape */}}
        [Console]::Write("$([char]0x1B)[6 q")
    }
}
