{{ template "MyProfile/functions/Group-Property.ps1.tmpl" . }}
{{ template "MyProfile/functions/Get-ChildItemWide.ps1.tmpl" . }}
{{ template "MyProfile/functions/Add-ForcedWindowsCapability.ps1" . }}
{{ template "MyProfile/functions/Add-TfItem.ps1" . }}
{{ template "MyProfile/functions/Enter-PSSessionBusy.ps1" . }}
{{ template "MyProfile/functions/Expand-Property.ps1" . }}
{{ template "MyProfile/functions/Get-ArgumentCompleter.ps1" . }}
{{ template "MyProfile/functions/Get-CharUtfHex.ps1" . }}
{{ template "MyProfile/functions/Get-CiscoAnyConnectState.ps1" . }}
{{ template "MyProfile/functions/Get-CommandParameter.ps1" . }}
{{ template "MyProfile/functions/Get-DbaRegServerInstanceParameter.ps1" . }}
{{ template "MyProfile/functions/Get-ElementName.ps1" . }}
{{ template "MyProfile/functions/Get-InstalledSoftware.ps1" . }}
{{ template "MyProfile/functions/Get-SmbShareRemote.ps1" . }}
{{ template "MyProfile/functions/Get-UserVariable.ps1" . }}
{{ template "MyProfile/functions/Import-InvokePSSession.ps1" . }}
{{ template "MyProfile/functions/Invoke-ExplorerContextMenu.ps1" . }}
{{ template "MyProfile/functions/Invoke-FzfItem.ps1" . }}
{{ template "MyProfile/functions/Invoke-Mstsc.ps1" . }}
{{ template "MyProfile/functions/Invoke-RemoteExpression.ps1" . }}
{{ template "MyProfile/functions/New-ProxyCommand.ps1" . }}
{{ template "MyProfile/functions/New-ScheduledTaskSession.ps1" . }}
{{ template "MyProfile/functions/Open-VMConsole.ps1" . }}
{{ template "MyProfile/functions/Out-VsCode.ps1" . }}
{{ template "MyProfile/functions/Paging.ps1" . }}
{{ template "MyProfile/functions/Search-Giphy.ps1" . }}
{{ template "MyProfile/functions/Select.ps1" . }}
{{ template "MyProfile/functions/Set-MyTerminalIcons.ps1" . }}
{{ template "MyProfile/functions/Set-SsmsQueryShortcut.ps1" . }}
{{ template "MyProfile/functions/Split-ExeArgument.ps1" . }}
{{ template "MyProfile/functions/Write-FileContent.ps1" . }}
