function Format-Sql {
    [Alias('fsql')]
    [CmdletBinding(PositionalBinding = $false)]
    [OutputType([string])]
    param(
        [Parameter(ValueFromRemainingArguments = $true)]
        [string[]] $ArgumentList,

        [Parameter(ValueFromPipeline)]
        [psobject] $InputObject
    )
    begin {
        $batArgs = [string[]]@('--language', 'sql')
        # chezmoi if isPSCore {{- if and .isPSCore .isPagingAvailable }}
        $txtMatSplat = @{
            Language = 'sql'
            Page = $true
        } 
        $sb = { TextMate\Format-TextMate @txtMatSplat }
        if (-not (Get-Module -Name TextMate)) {
            try {
                Import-Module -Name TextMate -ErrorAction Stop
            }
            catch [System.IO.FileLoadException] {
                Write-Warning 'Failed to import TextMate module due to file load and most likely dll incompatibilities. Falling back to use less pager.'
                $ArgumentList += $batArgs 
                $sb = { Out-Bat @ArgumentList }
            }
            catch {
                Write-Warning "Failed to import TextMate module. $_"
                $ArgumentList += $batArgs 
                $sb = { Out-Bat @ArgumentList }
            }
        }
        # chezmoi else {{- else }}{{ nindent 8 "$ArgumentList += $batArgs" }}{{ nindent 8 "$sb = { Out-Bat @ArgumentList }" }}
        # chezmoi if isPSCore end {{- end }}
        $pipe = $sb.GetSteppablePipeline($MyInvocation.CommandOrigin)
        $pipe.Begin($PSCmdlet)
    }
    process {
        $pipe.Process($PSItem)
    }
    end {
        $pipe.End()
    }
}
