<#
.SYNOPSIS
Helper proxy function for `Get-ADGroup`

.DESCRIPTION
Helpder proxy function for `Get-ADGroup` with default parameter filters and formatter

.EXAMPLE
Get-ADGroup -Name Group
Get AD Group that has the property Name of `Group`
#>
function Get-ADGroupProxy {
    [CmdletBinding(DefaultParameterSetName = 'Filter', HelpUri = 'http://go.microsoft.com/fwlink/?LinkId=219302')]
    [Alias('gadg')]
    param(
        # Uses -Filter with * wildcard support on samAccountName Property
        [Parameter(ParameterSetName = 'Filter', Position = 0)]
        [Alias('sam')]
        [string]
        $SamAccountName,
        # Uses -Filter with * wildcard support on Name property
        [Parameter(ParameterSetName = 'Filter')]
        [Alias('nm')]
        [string]
        $Name,
        # Uses -Filter with * wildcard support on Description property
        [Parameter(ParameterSetName = 'Filter')]
        [Alias('dp')]
        [string]
        $Description,
        # Uses -Filter with * wildcard support on displayName property
        [Parameter(ParameterSetName = 'Filter')]
        [Alias('dn')]
        [string]
        $DisplayName,
        # See help on Get-ADUser. Same as -Filter on main command but without the Mandatory Attribute
        [Parameter(ParameterSetName = 'Filter')]
        [string]
        $Filter
    )


    dynamicparam {
        try {
            # Need to remove non-default bound parameters otherwise `GetCommand` doesn't return `.Parameters`
            $PSBoundParameters.Remove('SamAccountName') | Out-Null # Returns true or false if it removed or didn't remove the key
            $PSBoundParameters.Remove('Name') | Out-Null
            $PSBoundParameters.Remove('Description') | Out-Null
            $PSBoundParameters.Remove('DisplayName') | Out-Null
            $targetCmd = $ExecutionContext.InvokeCommand.GetCommand('ActiveDirectory\Get-ADGroup', [System.Management.Automation.CommandTypes]::Cmdlet, $PSBoundParameters)
            $dynamicParams = @($targetCmd.Parameters.GetEnumerator() | Microsoft.PowerShell.Core\Where-Object { $_.Value.IsDynamic })
            if ($dynamicParams.Length -gt 0) {
                $paramDictionary = [Management.Automation.RuntimeDefinedParameterDictionary]::new()
                foreach ($param in $dynamicParams) {
                    $param = $param.Value

                    if (-not $MyInvocation.MyCommand.Parameters.ContainsKey($param.Name)) {
                        $dynParam = [Management.Automation.RuntimeDefinedParameter]::new($param.Name, $param.ParameterType, $param.Attributes)
                        $paramDictionary.Add($param.Name, $dynParam)
                    }
                }

                return $paramDictionary
            }
        }
        catch {
            throw
        }
    }

    begin {
        try {
            $outBuffer = $null
            if ($PSBoundParameters.TryGetValue('OutBuffer', [ref]$outBuffer)) {
                $PSBoundParameters['OutBuffer'] = 1
            }
            if ($PSCmdlet.ParameterSetName -eq 'Filter') {
                if (-not $SamAccountName -and -not $Name -and -not $Description -and -not $DisplayName -and -not $Filter) {
                    throw 'Must provider at least SamAccountName, Name, Description, DisplayName or Filter parameter.'
                }
                $PSBoundParameters['Filter'] = $PSBoundParameters['Filter'] |
                    Write-ADAndFilter SamAccountName $SamAccountName -Verbose:$false |
                    Write-ADAndFilter Name $Name -Verbose:$false |
                    Write-ADAndFilter Description $Description -Verbose:$false |
                    Write-ADAndFilter DisplayName $DisplayName -Verbose:$false
                Write-Verbose "[Filter]: $($PSBoundParameters['Filter'])"

                $PSBoundParameters.Remove('SamAccountName') | Out-Null
                $PSBoundParameters.Remove('Name') | Out-Null
                $PSBoundParameters.Remove('Description') | Out-Null
                $PSBoundParameters.Remove('DisplayName') | Out-Null
            }

            $wrappedCmd = $ExecutionContext.InvokeCommand.GetCommand('ActiveDirectory\Get-ADGroup', [System.Management.Automation.CommandTypes]::Cmdlet)
            $scriptCmd = { & $wrappedCmd @PSBoundParameters }

            $steppablePipeline = $scriptCmd.GetSteppablePipeline($myInvocation.CommandOrigin)
            $steppablePipeline.Begin($PSCmdlet)
        }
        catch {
            throw
        }
    }

    process {
        try {
            $steppablePipeline.Process($_)
        }
        catch {
            throw
        }
    }

    end {
        try {
            $steppablePipeline.End()
        }
        catch {
            throw
        }
    }

# chezmoi if clean block {{ if eq .isPSCore true }}
    clean
    {
        if ($null -ne $steppablePipeline) {
            $steppablePipeline.Clean()
        }
    }
# end {{ end }}
}
