<#
.SYNOPSIS
Helper proxy function for Get-ADUser

.DESCRIPTION
Proxy function to make accessing the -Filter searches easier for common searches on Get-ADUser.

.NOTES
Had to mark the Filter parameter as not mandatory so the help doesn't appear to be included. See Help on
Get-ADComputer for the full scope of help.

.EXAMPLE
Get-ADUser -DisplayName User*
Gets all users with a displayName beginning with User.
#>
function Get-ADUserProxy {
    [CmdletBinding(DefaultParameterSetName = 'Filter', HelpUri = 'http://go.microsoft.com/fwlink/?LinkId=301397')]
    [Alias('gadu')]
    param(
        # Uses -Filter with * wildcard support on samAccountName Property
        [Parameter(ParameterSetName = 'Filter', Position = 0)]
        [Alias('sam')]
        [string]
        $SamAccountName,
        # Uses -Filter with * wildcard support on displayName property
        [Parameter(ParameterSetName = 'Filter')]
        [Alias('dn')]
        [string]
        $DisplayName,
        # Uses -Filter with * wildcard support on Name property
        [Parameter(ParameterSetName = 'Filter')]
        [Alias('nm')]
        [string]
        $Name,
        # Uses -Filter with * wildcard support on Title property
        [Parameter(ParameterSetName = 'Filter')]
        [Alias('tt')]
        [string]
        $Title,
        # Uses -Filter with * wildcard support on physicalDeliveryOfficeName property
        [Parameter(ParameterSetName = 'Filter')]
        [Alias('pdon', 'PhysicalDeliveryOfficeName')]
        [string]
        $Office,
        # Uses -Filter with * wildcard support on Sid property
        [Parameter(ParameterSetName = 'Filter')]
        [string]
        $Sid,
        # Uses -Filter with -eq $true on Enabled property
        # Password expiration is complicated so best to filter outside the function
        # with the PasswordExpired computed property
        [Parameter(ParameterSetName = 'Filter')]
        [Alias()]
        [switch]
        $Enabled,
        # Uses -Filter with -eq $false on Enabled property
        [Parameter(ParameterSetName = 'Filter')]
        [Alias('dis', 'de')]
        [switch]
        $Disabled,
        # Uses -Filter with -eq $true on LockedOut property
        [Parameter(ParameterSetName = 'Filter')]
        [Alias('lo')]
        [switch]
        $LockedOut,
        # Uses -Filter with -eq $false on LockedOut property
        [Parameter(ParameterSetName = 'Filter')]
        [Alias('ul', 'NotLockedOut')]
        [switch]
        $Unlocked,
        # See help on Get-ADUser. Same as -Filter on main command but without the Mandatory Attribute
        [Parameter(ParameterSetName = 'Filter')]
        [string]
        $Filter
    )


    dynamicparam {
        try {
            # Need to remove non-default bound parameters otherwise `GetCommand` doesn't return `.Parameters`
            $PSBoundParameters.Remove('SamAccountName') | Out-Null # Returns true or false if it removed or didn't remove the key
            $PSBoundParameters.Remove('DisplayName') | Out-Null
            $PSBoundParameters.Remove('Name') | Out-Null
            $PSBoundParameters.Remove('Title') | Out-Null
            $PSBoundParameters.Remove('Office') | Out-Null
            $PSBoundParameters.Remove('Sid') | Out-Null
            $PSBoundParameters.Remove('Enabled') | Out-Null
            $PSBoundParameters.Remove('Disabled') | Out-Null
            $PSBoundParameters.Remove('LockedOut') | Out-Null
            $PSBoundParameters.Remove('Unlocked') | Out-Null
            $targetCmd = $ExecutionContext.InvokeCommand.GetCommand('ActiveDirectory\Get-ADUser', [System.Management.Automation.CommandTypes]::Cmdlet, $PSBoundParameters)
            $dynamicParams = @($targetCmd.Parameters.GetEnumerator() | Microsoft.PowerShell.Core\Where-Object { $_.Value.IsDynamic })
            if ($dynamicParams.Length -gt 0) {
                $paramDictionary = [Management.Automation.RuntimeDefinedParameterDictionary]::new()
                foreach ($param in $dynamicParams) {
                    $param = $param.Value

                    if (-not $MyInvocation.MyCommand.Parameters.ContainsKey($param.Name)) {
                        $dynParam = [Management.Automation.RuntimeDefinedParameter]::new($param.Name, $param.ParameterType, $param.Attributes)
                        $paramDictionary.Add($param.Name, $dynParam)
                    }
                }

                return $paramDictionary
            }
        }
        catch {
            throw
        }
    }

    begin {
        try {
            $outBuffer = $null
            if ($PSBoundParameters.TryGetValue('OutBuffer', [ref]$outBuffer)) {
                $PSBoundParameters['OutBuffer'] = 1
            }
            if ($PSCmdlet.ParameterSetName -eq 'Filter') {
                if (-not $SamAccountName -and
                    -not $DisplayName -and
                    -not $Name -and
                    -not $Title -and
                    -not $Office -and
                    -not $Sid -and
                    -not $Enabled -and
                    -not $Disabled -and
                    -not $LockedOut -and
                    -not $Unlocked -and
                    -not $Filter
                ) {
                    throw 'Must provider at least SamAccountName, DisplayName or Filter parameter.'
                }
                if ($Enabled -and $Disabled) {
                    throw [ArgumentException]::new('Can''t supply both Disabled and Enabled parameters. Use only one of them.', 'Disabled,Enabled')
                }
                if ($LockedOut -and $Unlocked) {
                    throw [ArgumentException]::new('Can''t supply both LockedOut and Unlocked parameters. Use only one of them.', 'LockedOut,Unlocked')
                }

                $enabledFilterValue = $null
                if ($Enabled) {
                    $enabledFilterValue = $true
                }
                elseif ($Disabled) {
                    $enabledFilterValue = $false 
                }
                $lockedOutFilterValue = $null
                if ($LockedOut) {
                    $lockedOutFilterValue = 0
                }
                $unlockedFilterValue = $null
                if ($Unlocked) {
                    $unlockedFilterValue = 0
                }

                $PSBoundParameters['Filter'] = $PSBoundParameters['Filter'] |
                    Write-ADAndFilter SamAccountName $SamAccountName -Verbose:$false |
                    Write-ADAndFilter DisplayName $DisplayName -Verbose:$false |
                    Write-ADAndFilter Name $Name -Verbose:$false |
                    Write-ADAndFilter Title $Title -Verbose:$false |
                    Write-ADAndFilter Office $Office -Verbose:$false |
                    Write-ADAndFilter SID $Sid -Verbose:$false |
                    Write-ADAndFilter Enabled $enabledFilterValue -EQ -Verbose:$false |
                    Write-ADAndFilter lockoutTime $lockedOutFilterValue -GT -Verbose:$false |
                    Write-ADAndFilter lockoutTime $unlockedFilterValue -EQ -Verbose:$false
                Write-Verbose "[Filter]: $($PSBoundParameters['Filter'])"

                # Removing parameters not included on proxied command
                $PSBoundParameters.Remove('SamAccountName') | Out-Null
                $PSBoundParameters.Remove('DisplayName') | Out-Null
                $PSBoundParameters.Remove('Name') | Out-Null
                $PSBoundParameters.Remove('Title') | Out-Null
                $PSBoundParameters.Remove('Office') | Out-Null
                $PSBoundParameters.Remove('Sid') | Out-Null
                $PSBoundParameters.Remove('Enabled') | Out-Null
                $PSBoundParameters.Remove('Disabled') | Out-Null
                $PSBoundParameters.Remove('LockedOut') | Out-Null
                $PSBoundParameters.Remove('Unlocked') | Out-Null
            }

            $wrappedCmd = $ExecutionContext.InvokeCommand.GetCommand('ActiveDirectory\Get-ADUser', [System.Management.Automation.CommandTypes]::Cmdlet)
            $scriptCmd = { & $wrappedCmd @PSBoundParameters }

            $steppablePipeline = $scriptCmd.GetSteppablePipeline($MyInvocation.CommandOrigin)
            $steppablePipeline.Begin($PSCmdlet)
        }
        catch {
            throw
        }
    }

    process {
        try {
            $steppablePipeline.Process($_)
        }
        catch {
            throw
        }
    }

    end {
        try {
            $steppablePipeline.End()
        }
        catch {
            throw
        }
    }

# chezmoi if clean block {{ if eq .isPSCore true }}
    clean
    {
        if ($null -ne $steppablePipeline) {
            $steppablePipeline.Clean()
        }
    }
# end {{ end }}
}
