# Get-ComedyShow chezmoi if block {{- if eq .isPSCore true }}
function Get-ComedyShow {
    [CmdletBinding()]
    [Alias('gcmdy')]
    param (
    )
    begin {
        filter Select-OpenDate {
            [CmdletBinding()]
            param(
                [Parameter(Mandatory, ValueFromPipeline)]
                [object]
                $HtmlNode
            )
            $selectSplat = @{
                Property = @(
                    @{
                        Name = 'NameInnerText'
                        Expression = { $_ | Select-HtmlInnerText -DeEntitize }
                    }
                    @{
                        Name = 'StartDate'
                        Expression = {
                            $selectedDate = [datetime]::Parse($_.ParentNode.NextSibling.NextSibling.InnerText.Trim())
                            $selectedShowTimeText = ($_.ParentNode.NextSibling.NextSibling.NextSibling.NextSibling.InnerText.Trim() -split '- Show: ')[1] 
                            $selectedTimeOfDay = [datetime]::Parse($selectedShowTimeText).TimeOfDay
                            $selectedDate.Add($selectedTimeOfDay)
                        }
                    }
                )
            }
            $HtmlNode | Select-HtmlNode -Tag a -AttributeName target -AttributeValue _parent | Select-Object @selectSplat
        }
        filter Select-SportsDrink {
            [CmdletBinding()]
            param(
                [Parameter(Mandatory, ValueFromPipeline)]
                [object]
                $OpenDateObject,
                [Parameter(Mandatory)]
                [string]
                $NameReplaceRegex
            )
            $regexNotMatch = 'open gym|film_pod|moral panic|community night|spoonful of sugar|tropical trivia|new orleans spelling bee|Ted & Kev|Karaoke Night|no br lft|thank you for your purchase|bing-oh|track limits|Show To Be Announced|burn this records|black girl giggles|Trust Me I''m A Professional|christmas comedy show|joke beats'
            $selectSplat  = @{
                Property = @(
                    @{
                        Name = 'Name'
                        Expression = { $_.NameInnerText -replace $NameReplaceRegex }

                    }
                    'StartDate'
                    @{
                        Name = 'Location'
                        Expression = {'Sports Drink'}
                    }
                )
            }
            $OpenDateObject | Where-Object NameInnerText -notmatch $regexNotMatch | Select-Object @selectSplat 
        }
        filter Select-AtgTicket {
            [CmdletBinding()]
            param (
                [Parameter(Mandatory, ValueFromPipeline)]
                [object]
                $HtmlNode,
                [Parameter(Mandatory)]
                [string]
                $NameReplaceRegex
            )

            $selSplat = @{
                Property = @(
                    @{
                        Name = 'Name'
                        Expression = { $_.name -replace $NameReplaceRegex }
                    }
                    @{
                        Name = 'StartDate'
                        Expression = { $_.startDate.ToLocalTime() }
                    }
                    @{
                        Name = 'Location'
                        Expression = { $_.location.name }
                    }
                )
            }
            $HtmlNode |
                Select-HtmlNode -Tag div -AttributeName 'class' -AttributeValue 'MuiCardContent-root' -StartsWith |
                Select-HtmlNode -Tag a -Single |
                Select-HtmlAttributeValue -AttributeName 'href' -DefaultValue '<EMPTY>' |
                ForEach-Object -Process {
                    $currentJson = ConvertFrom-HtmlJsonLd -Url "https://us.atgtickets.com$_" |
                        Where-Object Type -eq 'TheaterEvent' |
                        ForEach-Object -MemberName RawJson |
                        ConvertFrom-Json
                    if ($currentJson.subEvent) {
                        $currentJson.subEvent
                    }
                    else {
                        $currentJson # Events may not have multiple dates
                    }
                } |
                Select-Object @selSplat
        }
    }

    process {
        $nameReplace = '(\s?\(.*\)\s?.*)|(\s[aA]t\s.*$)|(\sLive\s[iI]n\s.*$)|(:.*$)|(\s?-\s?.*)|(\sLive[!\s]?.*$)'

        ConvertFrom-HtmlJsonLd -Url https://laughlife.standuptix.com |
            Where-Object Type -eq ComedyEvent |
            ForEach-Object -MemberName RawJson |
            ConvertFrom-Json |
            Where-Object name -notma 'stoned vs\.? drunk|stoned vs\.? stoned|roast battle league|comedy teabag|work the crowd|anger management: comedy meets|certified killers comedy showcase|gun control: comedy show|Comedy At The ''Funk|couples therapy' |
            Select-Object @{n='Name'; e={$_.name -replace $nameReplace}},
                @{n='StartDate'; e={$_.startdate}},
                @{n='Location'; e={$_.location.name}}

        ConvertFrom-HtmlJsonLd -Url https://lafayettecomedy.com |
            Where-Object Type -eq ComedyEvent |
            ForEach-Object -MemberName RawJson |
            ConvertFrom-Json |
            Where-Object name -notma 'stoned vs\.? drunk|stoned vs\.? stoned|roast battle league|glitz & giggles|bun intended \- a standup comedy show|hair of the dog comedy night|cereal killers|we''re dying down here podcast|best of the fest' |
            Select-Object @{n='Name'; e={$_.name -replace $nameReplace}},
                @{n='StartDate'; e={$_.startdate}},
                @{n='Location'; e={$_.location.name}}

        $sportsDrinkBaseUri = 'https://app.opendate.io/v/sports-drink-1939'
        $sportsDrinkPageQueryParamFormat = 'page={0}'
        $sportsDrinkFirstPage = PSParseHTML\ConvertFrom-HTML -Url $sportsDrinkBaseUri
        $sportsDrinkLastPageNumber = $sportsDrinkFirstPage | Select-HtmlNode -Tag a -AttributeName 'class' -AttributeValue 'page-link' |
            Select-HtmlInnerText -DeEntitize |
            Select-Object -Last 2 |
            Select-Object -First 1
        $sportsDrinkFirstPage | Select-OpenDate | Select-SportsDrink -NameReplaceRegex $nameReplace
        foreach ($currentSportsDrinkPage in 2..$sportsDrinkLastPageNumber) {
            $currentSportsDrinkUri = "${sportsDrinkBaseUri}?$($sportsDrinkPageQueryParamFormat -f $currentSportsDrinkPage)"
            PSParseHTML\ConvertFrom-HTML -Url $currentSportsDrinkUri | Select-OpenDate | Select-SportsDrink -NameReplaceRegex $nameReplace
        }

        PSParseHTML\ConvertFrom-HTML -Url https://us.atgtickets.com/venues/saenger-theatre/whats-on/us/comedy?sort=newest-onsale |
            Select-AtgTicket -NameReplaceRegex $nameReplace

        PSParseHTML\ConvertFrom-HTML -Url https://us.atgtickets.com/venues/mahalia-jackson-theater/whats-on/us/comedy?sort=newest-onsale |
            Select-AtgTicket -NameReplaceRegex $nameReplace

        $joyInterSelSplat = @{
            Property = @(
                @{
                    Name = 'Name'
                    Expression = {
                        ($_ | Select-HtmlNode -Tag a | Select-HtmlInnerText -DeEntitize) -replace $nameReplace
                    }
                }
                @{
                    Name = 'EventHtmlObject'
                    Expression = {
                        $currentEvtDtlUri = $_ | Select-HtmlNode -Tag a | Select-HtmlAttributeValue -AttributeName 'href' -DefaultValue '<EMPTY>' 
                        Invoke-RestMethod -Uri $currentEvtDtlUri | PSParseHTML\ConvertFrom-HTML
                    }
                }
            )
        }
        $joySelSplat = @{
            Property = @(
                'Name'
                @{
                    Name = 'StartDate'
                    Expression = {
                        $currentEvtDateInnerText = $_.EventHtmlObject |
                            Select-HtmlNode -Tag span -AttributeName 'class' -AttributeValue 'tw-event-date' |
                            Select-HtmlInnerText -DeEntitize
                        $currentEvtDate = [datetime]::Parse($currentEvtDateInnerText)
                        $currentEvtTimeString = $_.EventHtmlObject |
                            Select-HtmlNode -Tag span -AttributeName 'class' -AttributeValue 'tw-event-time' |
                            Select-HtmlInnerText -DeEntitize
                        if ($currentEvtTimeString -match '[0-9]{1,2}:[0-9]{2}\s?([pP]|[aA])[mM]') {
                            $currentEvtStartTimeOfDay = [datetime]::Parse($Matches[0]).TimeOfDay
                        }
                        $currentEvtDate.Add($currentEvtStartTimeOfDay)
                    }
                }
                @{
                    Name = 'Location'
                    Expression = {'The Joy Theater'}
                }
            )
        }
        # 403 error when using `ConvertFrom-HTML` directly
        # Suspect issue is null user agent used by `ConvertFrom-HTML -Url`
        Invoke-RestMethod -Uri https://thejoytheater.com/shows/ |
            PSParseHTML\ConvertFrom-HTML |
            Select-HtmlNode -Tag div -AttributeName 'class' -AttributeValue 'seven columns' |
            Select-Object @joyInterSelSplat |
            Where-Object {
                $_.EventHtmlObject |
                    Select-HtmlNode -Tag p -AttributeName 'class' -AttributeValue 'tw-description-info' |
                    Select-HtmlInnerText -DeEntitize |
                    Where-Object { $_ -match 'comedy|comic|comedian|comedienne' }
            } |
            Select-Object @joySelSplat

        # civicnola.com has some of fingerprinting related to TLS state. Upping to HTTP/2 "fixes" the initial error.
        # curl doesn't appear to have this issue on http versions. User agent doesn't immediately fix the issue either. 
        # Using `$env:DOTNET_SYSTEM_NET_SECURITY_DISABLETLSRESUME` creates a scenario where connection never succeeds
        $civicComedyArchiveNameList = Invoke-RestMethod 'https://civicnola.com/tm_genre/comedy' -HttpVersion 2.0 |
            PSParseHTML\ConvertFrom-HTML |
            Select-HtmlNode -Tag div -AttributeName 'class' -AttributeValue 'tw-name event-title' |
            Select-HtmlInnerText -DeEntitize
        $civicSelSplat = @{
            Property = @(
                @{
                    Name = 'Name'
                    Expression = {
                        ($_ | Select-HtmlNode -Tag a -Single | Select-HtmlInnerText -DeEntitize) -replace $nameReplace
                    }
                }
                @{
                    Name = 'StartDate'
                    Expression = {
                        $currentEvtDateInnerText = $_ | Select-HtmlNode -Tag span -AttributeName 'class' -AttributeValue 'tw-event-date' | Select-HtmlInnerText -DeEntitize
                        $currentEvtDate = [datetime]::Parse($currentEvtDateInnerText)
                        $currentEvtTimeOfDayInnerText = $_ | Select-HtmlNode -Tag span -AttributeName 'class' -AttributeValue 'tw-event-time' | Select-HtmlInnerText -DeEntitize
                        $currentEvtTimeOfDay = [datetime]::Parse($currentEvtTimeOfDayInnerText).TimeOfDay
                        $currentEvtDate.Add($currentEvtTimeOfDay)
                    }
                }
                @{
                    Name = 'Location'
                    Expression = {'Civic Theatre'}
                }
            )
        }
        Invoke-RestMethod 'https://civicnola.com/tm-venue/' -HttpVersion 2.0 |
            PSParseHTML\ConvertFrom-HTML |
            Select-HtmlNode -Tag div -AttributeName 'class' -AttributeValue 'seven columns' |
            Select-Object @civicSelSplat |
            Where-Object Name -in $civicComedyArchiveNameList

        $orpheumBody = @{
            'search_categories[]' = 'live-comedy'
            per_page = 15
            orderby = 'event_start_date'
            order = 'ASC'
            page = 1
        }
        $orpheumSelSplat = @{
            Property = @(
                @{
                    Name = 'Name'
                    Expression = {
                        ($_ | Select-HtmlNode -Tag h3 -AttributeName 'class' -AttributeValue 'wpem-heading-text' | Select-HtmlInnerText) -replace $nameReplace
                    }
                }
                @{
                    Name = 'StartDate'
                    Expression = {
                        $currentEvtDateAndTimeString = (
                            $_ | Select-HtmlNode -Tag span -AttributeName 'class' -AttributeValue wpem-event-date-time-text | Select-HtmlInnerText -DeEntitize
                        ) -replace '\s{2,}', ' '
                        [datetime]::ParseExact( $currentEvtDateAndTimeString, 'dddd, MMMM d, yyyy @ hh:mm tt', $null)
                    }
                }
                @{
                    Name = 'Location'
                    Expression = {'Orpheum Theater'}
                }
            )
        }
        Invoke-RestMethod https://orpheumnola.com/em-ajax/get_listings/ -Method Post -Body $orpheumBody |
            ForEach-Object -MemberName html |
            PSParseHTML\ConvertFrom-HTML |
            Select-HtmlNode -Tag div -AttributeName 'class' -AttributeValue 'wpem-event-details' |
            Select-Object @orpheumSelSplat
    }
}
# end {{- end }}
