<#
.SYNOPSIS
Proxy helper function for Get-CimInstance Win32_Process

.DESCRIPTION
Proxy function to make accessing the Win32_Process class with Get-CimInstance easier. Be default, it filters out system-y type processes

.PARAMETER CimSession
See help on Get-CimInstance

.PARAMETER ClassName
See help on Get-CimInstance. Defaults to Win32_Process. Mandatory parameter attribute removed

.PARAMETER ResourceUri
See help on Get-CimInstance

.PARAMETER ComputerName
See help on Get-CimInstance

.PARAMETER KeyOnly
See help on Get-CimInstance

.PARAMETER Namespace
See help on Get-CimInstance

.PARAMETER OperationTimeoutSec
See help on Get-CimInstance

.PARAMETER InputObject
See help on Get-CimInstance

.PARAMETER Query
See help on Get-CimInstance

.PARAMETER QueryDialect
See help on Get-CimInstance

.PARAMETER Shallow
See help on Get-CimInstance

.PARAMETER Filter
See help on Get-CimInstance. Also by default usage of this will be incorporated in the default exclusion filter.
Handles generating a valid filter with parens and using AND.

.PARAMETER Property
See help on Get-CimInstance

.PARAMETER SkipFilter
New parameter for the proxy function. Allows falling back to standard usage of Get-CimInstance.
Won't pre-populate the Filter parameter.

.PARAMETER IncludeUser
New parameter for the proxy function. Allows the process owner user to be displayed in the formatter by
populating another PSTypeName. Switch includes because this is a slower operation as `Invoke-CimMethod`
must be called for each object.

.PARAMETER EscapeProxyFilterParameter
Impacts new parameters related to the filter like Name, Path, etc. Perform the single quote and backslash escaping. The backslash is the escape character in WQL.

.PARAMETER Name
Win32_Process.Name filter using LIKE. Required to escape characters by default. Consider EscapeProxyFilterParameter otherwise.

.PARAMETER Path
Win32_Process.Path filter using LIKE. Required to escape characters by default. Consider EscapeProxyFilterParameter otherwise.

.EXAMPLE
Get-CimInstanceProcess
Gets the local computers non system type processes

.NOTES
Had to mark the ClassName parameter as not mandatory so the help doesn't appear to be included. Marked the Filter parameter
with a validate parameter attribute.
#>
function Get-CimInstanceProcess {
    [Alias('gcimp')]
    [CmdletBinding(DefaultParameterSetName = 'ClassNameComputerSet', HelpUri = 'https://go.microsoft.com/fwlink/?LinkId=227961')]
    param(
        [Parameter(ParameterSetName = 'CimInstanceSessionSet', Mandatory = $true, ValueFromPipeline = $true)]
        [Parameter(ParameterSetName = 'QuerySessionSet', Mandatory = $true, ValueFromPipeline = $true)]
        [Parameter(ParameterSetName = 'ClassNameSessionSet', Mandatory = $true, ValueFromPipeline = $true)]
        [Parameter(ParameterSetName = 'ResourceUriSessionSet', Mandatory = $true, ValueFromPipeline = $true)]
        [CimSession[]]
        ${CimSession},

        [Parameter(ParameterSetName = 'ResourceUriSessionSet', Mandatory = $true, ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'ResourceUriComputerSet', Mandatory = $true, ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'CimInstanceComputerSet')]
        [Parameter(ParameterSetName = 'CimInstanceSessionSet')]
        [Parameter(ParameterSetName = 'QueryComputerSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'QuerySessionSet', ValueFromPipelineByPropertyName = $true)]
        [uri]
        ${ResourceUri},

        [Parameter(ParameterSetName = 'ClassNameComputerSet', Position = 0, ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'ResourceUriComputerSet', Position = 0, ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'QueryComputerSet', Position = 0, ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'CimInstanceComputerSet', Position = 0)]
        [Alias('CN', 'ServerName')]
        [string[]]
        ${ComputerName},

        [Parameter(ParameterSetName = 'ClassNameComputerSet')]
        [Parameter(ParameterSetName = 'ClassNameSessionSet')]
        [Parameter(ParameterSetName = 'ResourceUriComputerSet')]
        [Parameter(ParameterSetName = 'ResourceUriSessionSet')]
        [switch]
        ${KeyOnly},

        [Parameter(ParameterSetName = 'ClassNameComputerSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'ClassNameSessionSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'ResourceUriComputerSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'ResourceUriSessionSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'QueryComputerSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'QuerySessionSet', ValueFromPipelineByPropertyName = $true)]
        [string]
        ${Namespace},

        [Alias('OT')]
        [uint]
        ${OperationTimeoutSec},

        [Parameter(ParameterSetName = 'CimInstanceComputerSet', Mandatory = $true, ValueFromPipeline = $true)]
        [Parameter(ParameterSetName = 'CimInstanceSessionSet', Mandatory = $true, ValueFromPipeline = $true)]
        [Alias('CimInstance')]
        [ciminstance]
        ${InputObject},

        [Parameter(ParameterSetName = 'QueryComputerSet', Mandatory = $true, ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'QuerySessionSet', Mandatory = $true, ValueFromPipelineByPropertyName = $true)]
        [string]
        ${Query},

        [Parameter(ParameterSetName = 'QueryComputerSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'QuerySessionSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'ClassNameSessionSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'ClassNameComputerSet', ValueFromPipelineByPropertyName = $true)]
        [string]
        ${QueryDialect},

        [Parameter(ParameterSetName = 'ClassNameComputerSet')]
        [Parameter(ParameterSetName = 'ClassNameSessionSet')]
        [Parameter(ParameterSetName = 'ResourceUriSessionSet')]
        [Parameter(ParameterSetName = 'ResourceUriComputerSet')]
        [Parameter(ParameterSetName = 'QueryComputerSet')]
        [Parameter(ParameterSetName = 'QuerySessionSet')]
        [switch]
        ${Shallow},

        [Parameter(ParameterSetName = 'ClassNameSessionSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'ClassNameComputerSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'ResourceUriSessionSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'ResourceUriComputerSet', ValueFromPipelineByPropertyName = $true)]
{{ if eq .isPSCore true }}        [ValidateNotNullOrWhiteSpace()]{{ else }}        [ValidateNotNullOrEmpty()]{{ end }}
        [string]
        ${Filter},

        [Parameter(ParameterSetName = 'ClassNameSessionSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'ClassNameComputerSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'ResourceUriSessionSet', ValueFromPipelineByPropertyName = $true)]
        [Parameter(ParameterSetName = 'ResourceUriComputerSet', ValueFromPipelineByPropertyName = $true)]
        [Alias('SelectProperties')]
        [string[]]
        ${Property},

        [Parameter(ParameterSetName = 'ClassNameSessionSet')]
        [Parameter(ParameterSetName = 'ClassNameComputerSet')]
        [Parameter(ParameterSetName = 'ResourceUriSessionSet')]
        [Parameter(ParameterSetName = 'ResourceUriComputerSet')]
        [Alias('sf', 'All')]
        [switch]
        ${SkipFilter},

        [Parameter(ParameterSetName = 'ClassNameSessionSet')]
        [Parameter(ParameterSetName = 'ClassNameComputerSet')]
        [Parameter(ParameterSetName = 'ResourceUriSessionSet')]
        [Parameter(ParameterSetName = 'ResourceUriComputerSet')]
        [Alias('iu')]
        [switch]
        ${IncludeUser},

        [Parameter(ParameterSetName = 'ClassNameSessionSet')]
        [Parameter(ParameterSetName = 'ClassNameComputerSet')]
        [Parameter(ParameterSetName = 'ResourceUriSessionSet')]
        [Parameter(ParameterSetName = 'ResourceUriComputerSet')]
        [Alias('EscapeCharacters', 'ec', 'epfp')]
        [switch]
        ${EscapeProxyFilterParameter},

        [Parameter(ParameterSetName = 'ClassNameSessionSet')]
        [Parameter(ParameterSetName = 'ClassNameComputerSet')]
        [Parameter(ParameterSetName = 'ResourceUriSessionSet')]
        [Parameter(ParameterSetName = 'ResourceUriComputerSet')]
        [Alias('nm')]
        [string]
        ${Name},

        [Parameter(ParameterSetName = 'ClassNameSessionSet')]
        [Parameter(ParameterSetName = 'ClassNameComputerSet')]
        [Parameter(ParameterSetName = 'ResourceUriSessionSet')]
        [Parameter(ParameterSetName = 'ResourceUriComputerSet')]
        [Alias('pt')]
        [string]
        ${Path}
    )

    begin {
        try {
            $outBuffer = $null
            if ($PSBoundParameters.TryGetValue('OutBuffer', [ref]$outBuffer)) {
                $PSBoundParameters['OutBuffer'] = 1
            }

            if (-not $SkipFilter) {
                $customExcludeFilter = @(
                    "NOT ExecutablePath LIKE '%windows%media%player%'"
                    "NOT ExecutablePath LIKE '%trustedinstaller%'"
                    "NOT ExecutablePath LIKE '%microsoft.net%'"
                    "NOT ExecutablePath LIKE '%google%google%'"
                    "NOT ExecutablePath LIKE '%microsoft%edge%'"
                    "NOT ExecutablePath LIKE '%veeam%'"
                    "NOT ExecutablePath LIKE '%windows%defend%'"
                    "NOT ExecutablePath LIKE '%vmware%tool%'"
                    "NOT ExecutablePath LIKE '%sysmon64%'"
                    "NOT ExecutablePath LIKE '%SentinelOne%'"
                    "NOT ExecutablePath LIKE '%Arctic Wolf%'"
                    "NOT ExecutablePath LIKE '%windows\\systemapps%'"
                    "NOT ExecutablePath LIKE '%\\LogMeIn\\%'"
                    "NOT ExecutablePath LIKE '%securelink%'"
                    "NOT ExecutablePath LIKE '%ManageEngine\\UEMS_Agent%'"
                    "NOT ExecutablePath LIKE '%Common Files\\Microsoft Shared%'"
                    "NOT ExecutablePath LIKE '%Tanium\\Tanium Client%'"
                    "NOT ExecutablePath LIKE '%\\Common Files\\Adobe\\%'"
                    "NOT Name = 'smartscreen.exe'"
                    "NOT Name = 'wmiprvse.exe'"
                    "NOT Name = 'conhost.exe'"
                    "NOT Name = 'vm3dservice.exe'"
                    "NOT Name = 'fontdrvhost.exe'"
                    "NOT Name = 'spoolsv.exe'"
                    "NOT Name = 'wudfhost.exe'"
                    "NOT Name = 'dwm.exe'"
                    "NOT Name = 'msdtc.exe'"
                    "NOT Name = 'winlogon.exe'"
                    "NOT Name = 'wmiapsrv.exe'"
                    "NOT Name = 'unsecapp.exe'"
                    "NOT Name = 'logonui.exe'"
                    "NOT Name = 'aggregatorhost.exe'"
                    "NOT Name = 'MicrosoftSearchInBing.exe'"
                    "NOT Name = 'OfficeClickToRun.exe'"
                    "NOT Name = 'svchost.exe'"
                    "NOT Name = 'mmc.exe'"
                    "NOT Name = 'RuntimeBroker.exe'"
                    "NOT Name = 'rdpclip.exe'"
                    "NOT Name = 'sihost.exe'"
                    "NOT Name = 'vds.exe'"
                    "NOT Name = 'ServerManager.exe'"
                    "NOT Name = 'taskhostw.exe'"
                    "NOT Name = 'ctfmon.exe'"
                    "NOT Name = 'OpenWith.exe'"
                ) -join ' AND '
                if ($PSBoundParameters.ContainsKey('Filter')) {
                    $customExcludeFilter = " AND ( $customExcludeFilter )"
                }
                else {
                    $customExcludeFilter = "( $customExcludeFilter )"
                }
                $PSBoundParameters['Filter'] += $customExcludeFilter
            }
            if ($Name) {
                if ($PSBoundParameters.ContainsKey('Filter')) {
                    $PSBoundParameters['Filter'] += ' AND '
                }
                $PSBoundParameters['Filter'] += "Name LIKE '$($Name | Invoke-EscapeCimProxyFilterParameter -Escape:$EscapeProxyFilterParameter)'"
            }
            if ($Path) {
                if ($PSBoundParameters.ContainsKey('Filter')) {
                    $PSBoundParameters['Filter'] += ' AND '
                }
                $PSBoundParameters['Filter'] += "ExecutablePath LIKE '$($Path | Invoke-EscapeCimProxyFilterParameter -Escape:$EscapeProxyFilterParameter)'"
            }
            # SkipFilter doesn't exist on proxied command
            $PSBoundParameters.Remove('SkipFilter') | Out-Null # Returns true or false if found and not found
            $PSBoundParameters.Remove('IncludeUser') | Out-Null
            $PSBoundParameters.Remove('EscapeProxyFilterParameter') | Out-Null
            $PSBoundParameters.Remove('Name') | Out-Null
            $PSBoundParameters.Remove('Path') | Out-Null
            $PSBoundParameters['ClassName'] = 'Win32_Process'
            $customPSTypeNameBase = 'MacMicrosoft.Management.Infrastructure.CimInstance#root/cimv2/Win32_Process'
            $customPSTypeNameUser = "$customPSTypeNameBase#IncludeUser"
            $cimProcessIncludeUser = $false
            if ($IncludeUser) {
                $cimProcessIncludeUser = $true
            }

            $wrappedCmd = $ExecutionContext.InvokeCommand.GetCommand('CimCmdlets\Get-CimInstance', [System.Management.Automation.CommandTypes]::Cmdlet)
            $scriptCmd = {
                & $wrappedCmd @PSBoundParameters | & {
                    process {
                        if ( $_.psobject.Properties.Name -contains 'PSShowComputerName') {
                            $_.PSShowComputerName = $false
                        }
                        $_.PSTypeNames.Insert( 0, $customPSTypeNameBase )
                        if ($cimProcessIncludeUser) {
                            $_.PSTypeNames.Insert( 0, $customPSTypeNameUser)
                        }
                        $_
                    }
                }
            }

            $steppablePipeline = $scriptCmd.GetSteppablePipeline($MyInvocation.CommandOrigin)
            $steppablePipeline.Begin($PSCmdlet)
        }
        catch {
            throw
        }
    }

    process {
        try {
            $steppablePipeline.Process($_)
        }
        catch {
            throw
        }
    }

    end {
        try {
            $steppablePipeline.End()
        }
        catch {
            throw
        }
    }
{{ if eq .isPSCore true }}
    clean {
        if ($null -ne $steppablePipeline) {
            $steppablePipeline.Clean()
        }
    }
{{ end }}
# Cannot forward help because the parameter set is a bit different
}
