function Out-Paging {
    [Alias('op')]
    [CmdletBinding(PositionalBinding = $false)]
    param(
        [Parameter(ValueFromRemainingArguments = $true)]
        [string[]] $ArgumentList,

        [Parameter(ValueFromPipeline)]
        [psobject] $InputObject
    )
    begin {
        # chezmoi get pwsh version {{- $pwshVersion := output "pwsh" "-NoProfile" "-NoLogo" "-Version" | splitList " " | last | trim }}
        # chezmoi if isPSCore {{- if eq .isPSCore true }}
        # chezmoi if version over 7.4 {{- if semverCompare ">=7.4.0" $pwshVersion }}
        # chezmoi get TextMate module file path {{- $isModuleAvailableFilePath := joinPath .sourceDir ".chezmoitemplates" "tools" "Test-TextMatePagingSupport.ps1" }}
        # chezmoi get TextMate module argList {{- $isModuleAvailableArgList := list "-NoProfile" "-NoLogo" "-File" $isModuleAvailableFilePath }}
        # chezmoi get TextMate module availability {{- $isModuleAvailable := outputList "pwsh" $isModuleAvailableArgList | trim }}
        # chezmoi if TextMate available {{- if eq $isModuleAvailable "True" }}
        $pipe = { TextMate\Out-Page }.GetSteppablePipeline($MyInvocation.CommandOrigin)
        $pipeFallback = { Out-AnsiFormatting -Stream | less $env:LESS @ArgumentList }.GetSteppablePipeline($MyInvocation.CommandOrigin)
        if (-not (Get-Module -Name TextMate)) {
            try {
                Import-Module -Name TextMate -ErrorAction Stop
            }
            catch [System.IO.FileLoadException] {
                Write-Warning 'Failed to import TextMate module due to file load and most likely dll incompatibilities. Falling back to use less pager.'
                $pipe = $pipeFallback
            }
            catch {
                Write-Warning "Failed to import TextMate module. $_"
                $pipe = $pipeFallback
            }
        }
        # chezmoi else TextMate not available {{- else }}{{ nindent 8 "$pipe = { Out-AnsiFormatting -Stream | less $env:LESS @ArgumentList }.GetSteppablePipeline($MyInvocation.CommandOrigin)" }}
        # chezmoi if TextMate available end {{- end }}
        # chezmoi if version end {{- end }}
        # chezmoi else for desktop edition {{- else }}{{ nindent 8 "$pipe = { less $env:LESS @ArgumentList }.GetSteppablePipeline($MyInvocation.CommandOrigin)" }}
        # chezmoi if isPSCore end {{- end }}
        $pipe.Begin($PSCmdlet)
    }
    process {
        $pipe.Process($PSItem)
    }
    end {
        $pipe.End()
    }
}
