{{ $isPSCore := hasPrefix "core" ( base .chezmoi.sourceFile ) }}
{{ $isWindows := eq .chezmoi.os "windows" }}
{{ $tmplDict := dict "isPSCore" $isPSCore "isWindows" $isWindows }}
{{ $tmplModuleGlobDir := joinPath .chezmoi.sourceDir ".chezmoitemplates" "MyProfile" "**" "*ps1*" }}
{{ range $file := glob $tmplModuleGlobDir  }}
{{ includeTemplate $file $tmplDict }}
{{ end }}
